<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
	<connectionStrings>
		
	</connectionStrings>
	<appSettings>
		<add key="Target" value="Chrome" />
		<!-- maximum wait time for a page to load-->
		<add key="PageTimeOut" value="10" />
		<!-- maximum wait time for emails in minutes -->
		<add key="MaxEmailWaitTime" value="5" />
		<!-- mobile web automation-->
	 <add key="Web.Url" value="https://smx-ih-test-anz-wc-web.azurewebsites.net/Health" />
		<!--<add key="RemoteServerAddress" value="http://127.0.0.1:4723/wd/hub/" />-->
		<!-- Serilog & Seq -->
		<add key="MinimumLoggingLevel" value="Verbose" />
		<!--<add key="Seq.Address" value="http://localhost:5341" />-->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<specFlow>
		<stepAssemblies>
			<!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcushammarberg/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  --><stepAssembly assembly="Automation.Core" />
		<stepAssembly assembly="SpecFlow.Assist.Dynamic" /></stepAssemblies>
		
		
		<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
		
	<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
	<runtime>
		
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		
				<dependentAssembly>
		
						<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
		
						<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
		
				</dependentAssembly>
		
				<dependentAssembly>
		
						<assemblyIdentity name="Gherkin" publicKeyToken="86496cfa5b4a5851" culture="neutral" />
		
						<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
		
				</dependentAssembly>
		
				<dependentAssembly>
		
						<assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
		
						<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
		
				</dependentAssembly>
		
		</assemblyBinding>
	</runtime>
	
</configuration>